<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quản lý hệ thống</title>

    <link rel="icon" href="images/Favicon_1.png" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/tagsinput.css">
    <link rel="stylesheet" href="css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Pacifico&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"> -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script> -->

    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/simple-datatables.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script src="js/datatables-simple.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/boostrap-confirmation.js"></script>
    <script src="js/tagsinput.js"></script>
    <script src="js/xlsx.full.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>

</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="height: 7%;">
    <!-- Navbar Brand-->
<!--    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>-->
<!--    <a class="navbar-brand ps-3" href="/" style="font-size: 180%; color: #e0b986; font-family: 'Pacifico', cursive;">-->
<!--        <img style="width: 130px; margin-top: -14px;" src="images/Logo_3.png" alt="">-->
<!--    </a>-->

    <div><h4 style="color: white">QUAN LY HE THONG</h4></div>

    <div class="btn-group" style="position:absolute; right:50px; padding-top: 0px; color: white; ">
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="background-color: #212529!important; border-color: #212529!important;">
            <span class="fa fa-user-shield" style="margin-right: 10px"></span>
            <span style="margin-right: 15px;"><%= username %></span>
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout" style="padding-left: 7px;">
                <i class="fas fa-sign-out-alt" style="margin-right: 10px;" ></i>Logout
            </a>
        </div>
    </div>
</nav>
