<div class="form-row">
    <div class="form-group col-md-4">
        <p><%= fileName %></p>
    </div>
    <div class="form-group col-md-3">
        <button class="btn" id="btnDownloadFileServer" style="position: relative; top: 1px">
            <i class="fa fa-download"></i> Download
        </button>
    </div>

    <div class="form-group col-md-3">
        <button class="btn" id="btnDownloadFileServer" style="position: relative; top: 1px">
            <i class="fa fa-trash"></i> Delete
        </button>
    </div>
</div>
